* {
    font-family: 'Montserrat', sans-serif;
//    display: flex;
}
.container {
    max-width: 1000px;
    padding: 20px;
    margin-left: 15rem;
    background-color: #d4cdcc ;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.header_subtitles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  h1 {
    color: #cd6b60;
    font-size: 3rem;
  }
}

#pdf {
    background-color: #cd6b60;
    color: white;
    padding: 1rem;
    text-decoration: none;
}

a {
    text-decoration: none;
}

#job_title {
        color: #324159;
        text-transform: uppercase;
        font-weight: 700;
}
img {
    width: 300px;
    height: 200px;
    margin: 20px;
    margin-top: 4rem;

}


h2 {
    background-color: #d7b5b2;
    border: 2px solid #d7b5b2;
    display: inline-block;
    padding: 10px;
}

.section {
    display: flex;

    &_left {
        flex: 1;
    }

    &_right {
        flex : 1;
    }
}
